.IS_Center{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
    margin: 0;
    height: 100vh;

}
.button{
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    color: black;
}
a{
    text-decoration: none;
    color: inherit;
}
.story{
    margin: 0 20px;
}
.choice{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;

}
.choice a{
    margin: 80px;
}
.thoughts{
    color:darkblue;
}
.thoughts2{
    color:purple;
}
.thoughts3{
    color:indigo;
}
.D1{
    color:darkgoldenrod;
}
.D2{
    color:red;
}
.D3{
    color: green;
}
.hidden{
    display: inline-block;
    width: 10px;
    height: 10px;
}
.body,html,*{
    padding: 0;
    margin: 0;
}
